<nav class="navbar navbar-expand-lg navbar-dark px-lg-5 nav-compact">
    <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
        <img src="img/tafcollege-logo.png" alt="TAF College" style="height: 100px;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Programs</a>
            <div class="nav-item dropdown" data-menu="admissions">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admissions</a>
                <div class="dropdown-menu m-0">
                    <a href="application.html" class="dropdown-item">Application Form</a>
                    <a href="admissions.html" class="dropdown-item">Admissions</a>
                    <a href="scholarships.html" class="dropdown-item">Scholarships</a>
                    <a href="faq.html" class="dropdown-item">FAQs</a>
                </div>
            </div>
            <a href="team.html" class="nav-item nav-link">Staff</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <div class="d-none d-lg-flex">
            <a class="btn btn-outline-primary border-2" href="#" data-bs-toggle="modal" data-bs-target="#donationModal">Donate</a>
        </div>
    </div>
</nav>
